<a href="https://colab.research.google.com/github/bazgreen/python-lab/blob/main/Software_Engineering_Fundamentals_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Google Colab notebooks are composed of cells, and each cell can contain code or text. To create a code cell, click on the "+" button in the toolbar or press Ctrl + MandB (for below) in the notebook.

Let's write a simple Python code in a cell and run it:

In [ ]:
# This is a code cell
# Let's calculate the sum of two numbers

num1 = 10
num2 = 20
sum_result = num1 + num2

print("Sum:", sum_result)

Sum: 30

ToShift + Enter. When you run the cell, Google Colab will execute the code and display the output below the cell.

Explanation of the Code

Thenum1 and num2, and stores the result in the variable sum_result. The print() function is used to display the output, which will be "Sum: 30" in this case (since num1 is 10 and num2 is 20).

## Python language

Python is a high level programming language, which means it's closer to human language than machine language.

Remember from your pre reading material that Python is how you give the computer commands.

This session will be focussed on some of the building blocks of the language.

# Variables

In Python, a variable is a named storage location that holds a value. It acts as a container to store data, and its name is used to refer to that data throughout the program. Variables are crucial in programming as they enable us to work with data dynamically, making our code more flexible and efficient.

1. **Data Storage:** Variables allow us to store data in memory. Instead of hardcoding values directly into the code, we can assign them to variables and use those variables throughout the program. This makes our code more organized and easier to maintain.

2. **Value Reusability:** Once a value is assigned to a variable, we can reuse that value multiple times without having to rewrite it. This promotes code reusability and reduces redundancy.

3. **Dynamic Nature:** Python is a dynamically-typed language, meaning the data type of a variable is determined at runtime based on the assigned value. This flexibility allows us to change the value and data type of a variable during program execution.

4. **Readability and Understanding:** By giving meaningful names to variables, we can enhance the readability of our code. Clear and descriptive variable names make it easier for others (and ourselves) to understand the purpose of each value.

5. **Variable Manipulation:** Variables can be manipulated using arithmetic operations, logical operations, and other Python functionalities. This makes it easy to perform calculations and operations on the stored data.


Let's see a simple example to understand the use of variables in Python:

In [ ]:
# Assigning values to variables
name = "Laila"
age = 30
is_student = True

# Using variables in the program
print("Name:", name)
print("Age:", age)

if is_student:
    print("This person is a student.")
else:
    print("This person is not a student.")

Name: Laila
Age: 30
This person is a student.

In the above example, we use variables (`name`, `age`, and `is_student`) to store and represent different pieces of data. This makes the code more readable, and we can easily modify the values of these variables without changing the code's structure.

By using variables, we make our code more flexible and maintainable. We can change the values assigned to the variables at any point during program execution, and the program will adjust accordingly. Variables are fundamental tools that enable us to work with data efficiently and effectively in Python programming.

# Data types: Overview

In Python, data types represent the type of value that a variable can hold. Python is a dynamically-typed language, which means that the data type of a variable is determined at runtime based on the value assigned to it. In this tutorial, we will introduce some of the commonly used data types in Python.

##Numeric Data Types

Integers (int)
Integers are whole numbers, positive or negative, without any fractional part.

In [ ]:
# Example of integer data type
age = 25

Floating-Point Numbers (float)
Floating-point numbers are numbers that have a decimal point or are written in scientific notation.

In [ ]:
# Example of float data type
pi = 3.14159

Complex Numbers (complex)
Complex numbers are represented as a combination of a real part and an imaginary part (denoted by "j" or "J").

In [ ]:
# Example of complex data type
z = 2 + 3j

## Text data type

Strings (str)
Strings are sequences of characters enclosed in single (' ') or double (" ") quotes.

In [ ]:
# Example of string data type
name = "Alice"
message = 'Hello, World!'

## Boolean Data Type

Boolean (bool)
Boolean data type represents the truth values True or False.

In [ ]:
# Example of boolean data type
is_student = True
is_teacher = False

## Sequence Data Types

**Lists:**
Lists are ordered collections of elements that can be of different data types.

In [ ]:
# Example of list data type
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "orange"]

**Tuples:**
Tuples are similar to lists but are immutable, meaning their elements cannot be changed after creation.

In [ ]:
# Example of tuple data type
point = (10, 20)
colors = ('red', 'green', 'blue')

**Dictionaries:**
Dictionaries are collections of key-value pairs, where each key is associated with a value.

In [ ]:
# Example of dictionary data type
person = {'name': 'John', 'age': 30, 'city': 'New York'}

Understanding data types is essential as it helps in performing various operations and manipulations on the data in Python. In the upcoming tutorials, we will explore more advanced concepts related to these data types and learn how to work with them effectively in Python.

# Data types: In depth

Python supports several numeric data types to handle numerical data. In this tutorial, we will explore the three main numeric data types in Python:

1. **Integers (`int`):** Whole numbers without a fractional component.
2. **Floating-Point Numbers (`float`):** Numbers with a decimal point or in scientific notation.
3. **Complex Numbers (`complex`):** Numbers with a real and imaginary part.

Let's dive into each data type with examples:

### 1. Integers (`int`)

**Integers** represent whole numbers, positive or negative, without a fractional part.

In [ ]:

# Example: Integers
x = 10
y = -5
z = 0

print(x)  # Output: 10
print(y)  # Output: -5
print(z)  # Output: 0

10
-5
0

### 2. Floating-Point Numbers (`float`)

**Floating-point** numbers represent numbers with a decimal point or in scientific notation.

In [ ]:
# Example: Floating-Point Numbers
a = 3.14
b = -2.5
c = 1e6  # 1 x 10^6

print(a)  # Output: 3.14
print(b)  # Output: -2.5
print(c)  # Output: 1000000.0

3.14
-2.5
1000000.0

### 3. Complex Numbers (`complex`)

**Complex** numbers consist of a real part and an imaginary part represented by `j` or `J`.

In [ ]:
# Example: Complex Numbers
p = 2 + 3j
q = -4j

print(p)  # Output: (2+3j)
print(q)  # Output: (-0-4j)

(2+3j)
(-0-4j)

### Numeric Operations

Python allows you to perform various arithmetic operations with numeric data types:

In [ ]:
# Numeric Operations
a = 10
b = 3

print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.3333333333333335 (floating-point result)
print(a // b) # Floor Division: 3 (integer result)
print(a % b)  # Modulo: 1 (remainder after division)
print(a ** b) # Exponentiation: 1000

13
7
30
3.3333333333333335
3
1
1000

### Type Conversion (Casting)

Python allows you to convert between different numeric data types using type casting.

In [ ]:

# Type Conversion
x = 10
y = 3.14
z = 1 + 2j

# Convert to int
x_int = int(x)
print(x_int)  # Output: 10

# Convert to float
y_float = float(y)
print(y_float)  # Output: 3.14

# Convert to complex
z_complex = complex(z)
print(z_complex)  # Output: (1+2j)

10
3.14
(1+2j)

Python offers powerful support for working with numeric data, including integers, floating-point numbers, and complex numbers. Understanding the various numeric data types and their operations is essential for performing mathematical calculations and solving real-world problems with Python. Experiment with numeric data and arithmetic operations to gain familiarity and confidence in using numeric data types in Python.

## Strings

Introduction to Strings
In Python, a string is a sequence of characters enclosed in single (' ') or double (" ") quotes. Strings are immutable, which means once created, their contents cannot be changed.

**Creating Strings:**
To create a string, you can simply enclose a sequence of characters in single or double quotes:

In [ ]:
# Creating strings
string1 = 'Hello, World!'
string2 = "Python is awesome"

**String Operations:**
Concatenation
Strings can be concatenated using the + operator

In [ ]:
# String concatenation
name = "John"
greeting = "Hello, " + name
print(greeting)  # Output: "Hello, John"

**String Length:**
To find the length of a string, you can use the len() function:

In [ ]:
# String length
text = "Hello, Python!"
length = len(text)
print(length)  # Output: 14

**Accessing Characters in a String:**
You can access individual characters in a string using indexing:

In [ ]:
# Accessing characters
text = "Python"
first_char = text[0]
last_char = text[-1]
print(first_char)  # Output: "P"
print(last_char)   # Output: "n"

P
n

**String Slicing:**
Slicing allows you to extract a portion of a string:

In [ ]:
# Slicing strings
text = "Hello, World!"
substring1 = text[0:5]
substring2 = text[7:]
print(substring1)  # Output: "Hello"
print(substring2)  # Output: "World!"

Hello
World!

**String Methods:**
Python provides various built-in string methods for different string manipulations:

In [ ]:
# String methods
text = "   Hello, Python!   "
print(text.strip())       # Output: "Hello, Python!"
print(text.lower())       # Output: "   hello, python!   "
print(text.upper())       # Output: "   HELLO, PYTHON!   "
print(text.replace(" ", "-"))  # Output: "---Hello,-Python!---"

Hello, Python!
   hello, python!
   HELLO, PYTHON!
---Hello,-Python!---

**String Formatting:**
You can use string formatting to create dynamic strings with placeholders:

In [ ]:
# String formatting
name = "Alice"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)
print(message)  # Output: "My name is Alice and I am 25 years old."

My name is Alice and I am 25 years old.

**String Escape Sequences:**
Escape sequences are used to represent special characters in strings:

In [ ]:
# Escape sequences
print("New\nLine")     # Output: New (newline) Line
print("Tab\tCharacter")  # Output: Tab       Character
print("Backslash: \\")  # Output: Backslash: \

New
Line
Tab	Character
Backslash: \

**String Operations with f-strings (Python 3.6+):**
f-strings provide a concise way of formatting strings with variables:

In [ ]:
# f-strings (Python 3.6+)
name = "Bob"
age = 30
message = f"My name is {name} and I am {age} years old."
print(message)  # Output: "My name is Bob and I am 30 years old."

My name is Bob and I am 30 years old.

## Boolean Data Type

In Python, the boolean data type represents the truth values True or False. Booleans are commonly used in decision-making and conditional statements. In this tutorial, we will explore the boolean data type, its operations, and its significance in Python programming.

**Boolean Data Type**

Creating Boolean Variables
To create a boolean variable, you can use the keywords True or False (note that they are case-sensitive).

In [ ]:
# Creating boolean variables
is_student = True
is_teacher = False

SyntaxError: ignored

Boolean Operators -
**Comparison Operators:**
Comparison operators compare two values and return a boolean value based on the comparison.

In [ ]:
# Comparison operators
x = 10
y = 5

print(x == y)  # Output: False (x is not equal to y)
print(x != y)  # Output: True (x is not equal to y)
print(x > y)   # Output: True (x is greater than y)
print(x < y)   # Output: False (x is less than y)
print(x >= y)  # Output: True (x is greater than or equal to y)
print(x <= y)  # Output: False (x is less than or equal to y)

False
True
True
False
True
False

**Logical Operators**
Logical operators perform logical operations on boolean values and return a boolean result.

In [ ]:
# Logical operators
a = True
b = False

print(a and b)  # Output: False (both a and b are not True)
print(a or b)   # Output: True (at least one of a or b is True)
print(not a)    # Output: False (not True is False)

## Lists and tuples

In Python, lists and tuples are used to store collections of items. They are versatile and fundamental data structures for managing multiple values. In this tutorial, we will explore lists and tuples, how to create and manipulate them, and the differences between the two.

Lists -
**Creating Lists**

To create a list, you can use square brackets [] and separate the items with commas.

In [ ]:
# Creating lists
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "orange"]

**Accessing Elements:**
You can access individual elements in a list using indexing. Indexing starts from 0 for the first element.

In [ ]:
# Accessing elements
print(numbers[0])  # Output: 1
print(fruits[2])   # Output: "orange"

**List Slicing:**
List slicing allows you to extract a portion of a list.

In [ ]:
# List slicing
print(numbers[1:4])  # Output: [2, 3, 4]
print(fruits[:2])    # Output: ["apple", "banana"]

[2, 3, 4]
['apple', 'banana']

**Modifying Elements:**
You can modify elements in a list by assigning new values to specific indices.

In [ ]:
# Modifying elements
fruits[0] = "grape"
print(fruits)  # Output: ["grape", "banana", "orange"]

['grape', 'banana', 'orange']

**List Methods:**
Python provides several built-in methods for lists, such as append(), insert(), remove(), and pop().

In [ ]:
# List methods
fruits.append("kiwi")       # Add an element to the end
fruits.insert(1, "cherry")  # Insert an element at a specific index
fruits.remove("banana")     # Remove the first occurrence of an element
fruits.pop(2)               # Remove the element at a specific index
print(fruits)  # Output: ["grape", "cherry", "orange", "kiwi"]

#Tuples
**Creating Tuples:**
Tuples are created using parentheses () and separate the items with commas.

In [ ]:
# Creating tuples
point = (10, 20)
colors = ('red', 'green', 'blue')

**Accessing Elements:**
Similar to lists, you can access elements in a tuple using indexing.

In [ ]:
# Accessing elements in a tuple
print(point[0])  # Output: 10
print(colors[2]) # Output: "blue"

10
blue

**Tuple Packing and Unpacking:**
You can pack multiple values into a tuple and later unpack them into separate variables.

In [ ]:
# Tuple packing and unpacking
coordinates = 30, 40
x, y = coordinates
print(x)  # Output: 30
print(y)  # Output: 40

##Differences Between Lists and Tuples
Lists are mutable (elements can be changed), while tuples are immutable (elements cannot be changed after creation).
Lists use square brackets [], and tuples use parentheses () for their syntax.

# Dictionaries

In Python, a dictionary is a powerful data structure that stores a collection of key-value pairs. Each key in the dictionary maps to a specific value, and dictionaries are useful for organizing and managing data in a flexible way. In this tutorial, we will explore dictionaries, how to create and manipulate them, and their various applications.

**Creating Dictionaries:**
Creating Empty Dictionary
You can create an empty dictionary by using curly braces {}:

In [ ]:
# Creating an empty dictionary
my_dict = {}

**Creating Dictionary with Values:**
To create a dictionary with initial key-value pairs, use the following syntax:

In [ ]:
# Creating a dictionary with values
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

**Accessing and Modifying Values:**
Accessing Values
You can access values in a dictionary using their corresponding keys:

In [ ]:
# Accessing values
print(person["name"])  # Output: "John"
print(person["age"])   # Output: 30

John
30

**Modifying Values:**
You can modify the value of a specific key in the dictionary:

In [ ]:
# Modifying values
person["age"] = 35
print(person["age"])  # Output: 35

35

Dictionary Methods -
**Adding New Key-Value Pairs:**
You can add new key-value pairs to a dictionary:

In [ ]:
# Adding new key-value pairs
person["occupation"] = "Engineer"
print(person)  # Output: {'name': 'John', 'age': 35, 'city': 'New York', 'occupation': 'Engineer'}

{'name': 'John', 'age': 30, 'city': 'New York', 'occupation': 'Engineer'}

**Dictionary Length:**
You can find the number of key-value pairs in a dictionary using the len() function:

In [ ]:
# Dictionary length
print(len(person))  # Output: 4 (Number of key-value pairs)

4

**Removing Key-Value Pairs:**
You can remove a key-value pair from a dictionary using the pop() method:

In [ ]:
# Removing a key-value pair
person.pop("city")
print(person)  # Output: {'name': 'John', 'age': 35, 'occupation': 'Engineer'}

{'name': 'John', 'age': 30, 'occupation': 'Engineer'}